<h2>Viewing Movie <%= @movie.id %></h2>

<p>Movie title: <%= @movie.title %></p>
<p>Movie director: <%= @movie.director %></p>
<p>Movie rating: <%= @movie.rating %></p>

<p>
    <form action="/movies/<%= @movie.id %>" method="post">
        <input type="hidden" name="_method" value="delete" />
        <input type="submit" value="Delete" />
    </form>
</p>

<p>
    <a href="/movies">Go back to all movies</a>
</p>
